.container {
    background-color: #8b969d;
}
.contact-form {
    background-color: #d9d9d9ff;
    padding: 20px 40px;
    border: 0.1rem solid;
    border-radius: 1%;
    margin: 3rem auto;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-primary {
    width: 100%;
    background-color: #000000;
    height: 4rem;
    font-weight: bold;
    outline: none;
    border: none;
}

.input-text {
    height: 3rem;
}