
.titulo_linguagem {
width: 100%;
height: 330px;
justify-content: center;
text-align: center;
font-weight: ;  
border-radius: 15px;
border: 1px solid;
border-color: black;

}

.fundo_azul {
  background-color:#8B969D;
}
.retangulo {
  border: 2px solid #1E3648; 
}
.retangulodois{
  border: 2px solid #606B73; 
}
.fundo_verde {
  background-color: #66796B;
  font-weight: bold;

}
.fundo_intermediario {
  background-color: #606B73;
  font-weight: bold;
}
.fundo_avancado {
  background-color: #8F534D;
  font-weight: bold;
}


.title_h1 {
  text-decoration-color: white;
}

a {
  color: white;

}

@media screen and (max-width: 480px) {
  button {
    align-items: center;
    justify-content: center;
  }
}

