body {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items:center;
    padding: 18px 20px;
    background-color: #606B73;
    color: black;
    font-weight: 600;
}
.menu button {
    color: #fff;
    background-color: #606B73;
    border: none;
    padding: 16px;
    text-decoration: none;
}
.login a{
    color: #fff;
    text-decoration: none;
}