.footer {
  background-color: #606b73;
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  border-top: 56px solid #8b969d;
  border-bottom: 48px solid #8b969d;
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos se movam para a próxima linha quando não há espaço suficiente */
  justify-content: space-between;
  align-items: center;
}

.footer .logo,
.footer .icons,
.footer .title,
.footer .description,
.footer .terms {
  display: inline-block;
  margin-bottom: 10px; /* Adicionado espaçamento entre os elementos */
}

.footer .icons {
  margin-right: 9%;
}

.footer .title,
.footer .description,
.footer .terms {
  margin-left: 1%;
}