body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8B969D;
    
}

header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 18px 20px;
    background-color: #606B73;
    color: black;
    font-weight: 600;
}

.form-container{
    max-width: 400px;
    padding: 1rem;
}

.h-100{
    height: 100%;
}

.card {
    border: 1px solid black;
    max-width: 500px;
    margin-left: 750px;
    margin-top: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
}
/* incluso o css do sobre*/
.estiloheader1 {
    text-decoration: none;
    color: white;
}
.estilobotao{
    size: 8rem;
    height: 4rem;
    font-weight: 600;
    font-size: x-large;

}
.nav-link {
    color: white;
    font-size: larger;
}

.navbar {
    width: 100%;
    align-items: center;
    justify-content: space-around
    text-align baseline;
}

.form-container-comments {
    max-width: 800px;
    padding: 1rem;
    margin: 20px;
}

/* Estilos para a div do rating */
.rating {
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
}

/* Estilos para o texto ao lado das estrelas */
.rating-text {
    margin-left: 10px; /* Mudei para margem esquerda */
    flex-direction: row-reverse;
}

/* Esconde os inputs */
.rating input {
    display: none;
}

/* Estiliza as labels */
.rating label {
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

/* Estiliza a label quando o input é selecionado */
.rating input:checked ~ label {
    color: #f90;
    direction: initial;
}

.negrito1 {
        font-weight: 600;
}

.modal-success .modal-content {
    background-color: #4CAF50; /* Cor verde desejada */
    color: white; /* Texto em branco para contrastar */
    border-radius: 10px; /* Borda arredondada para estilizar */
  }