body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8B969D;
    
}

header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 18px 20px;
    background-color: #606B73;
    color: black;
    font-weight: 600;
}

.form-container{
    max-width: 400px;
    padding: 1rem;
}

.h-100{
    height: 100%;
}

.card {
    border: 1px solid black;
    max-width: 500px;
    margin-left: 750px;
    margin-top: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #8B969D;
}

/* incluso o css do sobre*/
.estiloheader1 {
    text-decoration: none;
    color: white;
}
.estilobotao{
    size: 8rem;
    height: 4rem;
    font-weight: 600;
    font-size: x-large;

}
.nav-link {
    color: white;
    font-size: larger;
}

.navbar {
    width: 100%;
    align-items: center;
    justify-content: space-around
    text-align baseline;
}


