.header-container {
    text-align: center;
    margin: 50px 0;
    font-weight: 800;
    font-size: 275%;
    background-color: #8B969D;
    margin-left: 0%;
    margin-right: 0%;
    color: white;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px; /* Adicionei uma margem inferior para separar dos conteúdos abaixo */
}

.button-container .btn {
    flex: 0 0 calc(18% - 20px); /* Calculei a largura considerando a margem entre os botões */
    margin: 10px; /* Adicionei uma margem entre os botões */
    background-color: #8B969D;
    color: black;
    font-weight: 600;
}

.btn-primary {
    border: none; /* Remover a borda azul */
}


.search-container {
    text-align: center;
    margin-top: 20px; /* Adicione margem para espaçamento */
}

.search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-container button:hover {
    background: #ccc;
}

/* Dropdown Button */
.dropbtn {
    background-color: #8B969D;
    color: white;
    padding: 25px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-inline: 2px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: blue;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}