body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8B969D;
    
}

header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 18px 20px;
    background-color: #606B73;
    color: black;
    font-weight: 600;
}

.card {
    border: 1px solid black;
    max-width: 500px;
    margin-left: 750px;
    margin-top: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: darkgray;
}

p {
    margin: 0;
    font-weight: bold;
}
/* incluso o css do sobre*/
a {
    text-decoration: none;
    color: white;
}

.nav-link {
    color: white;
}